body,html {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: black;

}


/*---------header*/

.header {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    z-index: -5;
    top: 0;
}

.mainpic {
    margin-bottom: 2px;
    margin-right: 25px;

}

      
}

/*--Nav bar--*/

.container {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
}
.navbar {
    text-align:center;
    display: inline-block;
    padding: 0;
    z-index: 1;
}
.nav1, .nav2 {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5px 0px;
}
.nav3 {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5px 0px;
}

.row {
    margin: 0;
}

/*----Contact*/

.contacthead {
    text-align: center;
}

h3 {
    text-transform: capitalize;
}
.contactme {
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 1.5px;
}




.contact {
    text-align: center;
    background-color: black;
    color: white;
    border: solid 1px white;
    z-index: 99;
}

.contactcontent {
    padding-bottom: 10px;
}
/*------Service----*/
.services {
    text-align: center;
    background-color: #B0B0B0;
    border: solid 1px white;
}
.serviceavail {
   text-transform: uppercase;
   padding: 10px;
   margin: 0;
   border: 0;
   letter-spacing: 1.5px;
}

.servicecontainer {
    text-align: center;

}

.listwrapper {
    width: 100%;
    text-align: center;
    padding: 0;
}

.list {
    padding-bottom: 10px;
    text-align: center;
    list-style-type: none;

}

ul.list {
    padding: 0;
}



.footer {
    text-align: center;
    background-color: black;
    border: solid 1px white; 
    color: white;
}

.footer-content-top {
    padding-top: 10px;
}

.nav1, .nav2, .nav3 {
    color: black;
    background-color: #B0B0B0;
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-top: solid 2px white;
    border-bottom: solid 1px white;
    font-size: 1.75em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}
/*---Hover---------------------*/

.nav1:hover, .nav2:hover, .nav3:hover {
    background-color:#A8A8A8;
    text-decoration: underline;
}

/*-----Gallery----*/

.gallery {
    background-color: black;
}

.homebutton {
    width: 100%;
    text-align: center;
    background-color: black;
    
}

.gallerytitle {
    color: #B0B0B0;
    font-weight: 700;
    text-transform: uppercase; 
    font-size: 2em;
    letter-spacing: 1.5px;
    
}

.gallerytitle2 {
    color: red;
    font-style: italic;
    font-size: 1.5em;
}

.gheading {
    background-color: black;
    text-align: center;
    
    font-size: 2em;
}

.pic {
    border: solid 1px white;
}
   
