body,html {
    margin: 0;
    border: 0;
    padding: 0;

}


/*---------header*/

.header {
    margin: 0;
    padding: 0;
    border: 0;
}
.logo   {
    background: url("seans-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    padding: 0;
    margin: 0;
}

/*--Nav bar--*/

.container {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
}
.navbar {
    text-align:center;
    display: inline-block;
    padding: 0;
}
.nav1, .nav2 {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5px 0px;
}
.nav3 {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5px 0px;
}

.row {
    margin: 0;
}

/*----Contact*/

.contacthead {
    text-align: center;
}

h3 {
    text-transform: capitalize;
}
.contactme {
    text-transform: uppercase;
    padding: 10px;
}



.contact {
    text-align: center;
    background-color: black;
    color: white;
    border: solid 1px white;
}

.contactcontent {
    padding-bottom: 10px;
}
/*------Service----*/
.services {
    text-align: center;
    background-color: #B0B0B0;
    border: solid 1px white;
}
.serviceavail {
   text-transform: uppercase;
   padding: 10px;
   margin: 0;
   border: 0;
}

.servicecontainer {
    text-align: center;

}
.list {

    padding-bottom: 10px;
    list-style-type: none;

}

.list2 {
     list-style-type: none;
     padding-bottom: 10px;
}



.footer {
    text-align: center;
    background-color: black;
    border: solid 1px white; 
    color: white;
}

.footer-content-top {
    padding-top: 10px;
}

.nav1, .nav2, .nav3 {
    color: black;
    background-color: #B0B0B0;
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-top: solid 2px white;
    border-bottom: solid 1px white;
    font-size: 1.75em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}
/*---Hover---------------------*/

.nav1:hover, .nav2:hover, .nav3:hover {
    background-color:#A8A8A8;
    text-decoration: underline;
}



